@using CRM.Entity.Layer.Concrete
@model List<EmployeeTask>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CRMLayout.cshtml";
    int count = 0;
}

<h3>Tasks</h3>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Status</th>
        <th>Date</th>
        <th>Staff</th>
        <th>Delete</th>
        <th>Edit</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@item.Title</td>
            <td>@item.Status</td>
            <td>@item.Date.ToString("dd.MMM.yyyy")</td>
            <td>@item.AppUser.Name @item.AppUser.Surname</td>
            <td><a href="#" class="btn btn-outline-danger">Delete</a></td>
            <td><a href="#" class="btn btn-outline-success">Edit</a></td>
            <td><a href="#" class="btn btn-outline-dark">Details</a></td>
        </tr>
    }
</table>
<a href="/EmployeeTask/AddTask/" class="btn btn-outline-info">Enter New Task</a>